body {
  font-family: "Source Serif Pro", serif;
}
ul {
  text-decoration: none;
  list-style-type: none
}
a:link {
  text-decoration: none;
}
.Section-Redirect {
  font-size: 18px;
}
.Nav-Style {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.redirect a {
  text-decoration: none;
  color: black;
  font-family: "Source Serif Pro", serif;
  font-size: 18px;
}
.home-pg-title {
  text-align: center;
  margin-top: 100px;
}
.tidy-up {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.redirect {
  margin-left: 35px;
  margin-right: 35px;
  border-radius: 35px;
  border-style: none;
  background-color: lightseagreen;
  width: 100px;
  height: 45px;
  text-decoration: none;
  cursor: pointer;
}
.About-Us {
  background-color: grey;
  width: 100vw;
  height: 450px;
  margin-top: 20px;
}
.Intro-Title {
  text-align: center;
  color: white;
}
.Intro {
  color: white;
  text-align: center;
  margin-top: 50px;
}
.Village-Info {
  width: 100vw;
  height: 450px;
  background-color: lightcoral;
}
.Info-Title {
  text-align: center;
}
.Client-Reviews-pg {
  width: 100vw;
  height: 450px;
  background-color: orange;
}
.Client-Reviews {
  margin-top: 75px;
  text-align: center;
}
.Reviews-Title {
  text-align: center;
}
.Credits {
  text-align: center;
}
