body {
  font-family: "Source Serif Pro", serif;
  background: #e6e7ee;
  color: #44476a;
}
.Patient-Title-Page {
  text-align: center;
}
table {
    border-collapse: collapse;
    table-layout: fixed;
}
th {
  text-align: center;
  width: 200px;
}
td {
  text-align: center;
  width: 75px;
}
.Patient-Tbl-UI {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 900px;
    padding: 10px;
    box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #fff;
    border-radius: 8px;
}
.Patient-Data {
    border-bottom: 1px solid #d1d9e6;
}
.Patient-Data :nth-last-child(1) {
    border: none;
}
.Patient-Data-Cells {
  padding: 10px;
  text-align: center;
  font-size: x-large;
}
.Patient-Search-Title {
    text-align: center;
    margin-top: 375px;
}
.Search-Btn-Style {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Search-Btn {
    outline: none;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 60px;
    font-family: "Source Serif Pro", serif;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    background-color: #02c8db;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #fff;
    transition: all 0.5s;
}
.Search-Btn:hover {
    background-color: #50e5b9;
}
.Search-Btn:active {
    background-color: #6ec581;
}
.Patient-Info-Column {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}