* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: "Source Serif Pro", serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
  background-color: #ecf0f3;
}
.Btn-Fix {
  margin-right: 50vh;
  margin-bottom: 90vh;
  margin-left: 4vw;
}
svg {
  margin-right: 7px;
}
a {
  text-decoration: none;
  color: black;
}
.Redirect-Home {
  outline: none;
  border: none;
  cursor: pointer;
  width: 120px;
  height: 40px;
  font-family: "Source Serif Pro", serif;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  background-color: #02c8db;
  box-shadow: 3px 3px 8px black, -3px -3px 8px #49def5;
  transition: all 0.5s;

}
.Payment-Div {
  width: 700px;
  height: 850px;
  padding: 60px 35px 35px 35px;
  border-radius: 40px;
  margin-right: 29vw;
  background-color: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}
.input-fields {
  width: 100%;
  padding: 75px 5px 5px 5px;
}
.input-fields input {
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  color: #555;
  padding: 20px 10px 20px 5px;
  font-family: "Source Serif Pro", serif;
}
.username,
.password {
  margin-bottom: 30px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}
.input-fields svg {
  height: 22px;
  margin: 0 10px -3px 25px;
}
.Patient-btn1 {
  outline: none;
  border: none;
  cursor: pointer;
  width: 30%;
  height: 60px;
  font-family: "Source Serif Pro", serif;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  background-color: #02c8db;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #fff;
  transition: all 0.5s;
}
.Patient-btn2 {
  outline: none;
  border: none;
  cursor: pointer;
  width: 30%;
  height: 60px;
  font-family: "Source Serif Pro", serif;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  background-color: hsl(9, 98%, 43%);
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #fff;
  transition: all 0.5s;
}
.Patient-btn1:hover {
  background-color: #50e5b9;
}
.Patient-btn2:hover {
  background-color: #50e5b9;
}
.Patient-btn1:active {
  background-color: #6ec581;
}
.Patient-btn2:active {
  background-color: #6ec581;
}
.title {
  text-align: center;
  font-size: 28px;
  padding-top: 24px;
  letter-spacing: 0.5px;
}
.Patient-Btn-Style {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.Item-Info {
  text-align: center;
}
input[type="date"] {
  display: flex;
  flex-flow: row-reverse;
  margin-left: 15px;
}
input::-webkit-datetime-edit-fields-wrapper {
  position: relative;
  left: 15px;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f9fb;
  transition: opacity 0.75s, visibility 0.75s;
}
.loader-hidden {
  opacity: 0;
  visibility: hidden;
}
.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #7449f5;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}
@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
#delete {
  font-size: large;
  padding: 0.5em 1em;
}
.model-container {
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
}
.model-open {
  display: flex;
}
.model {
  max-width: 700px;
  max-height: 400px;
  background-color: #fff;
  border-radius: 3px;
  font-family: "Source Serif Pro", serif;
}
.model-btn {
  text-transform: uppercase;
  padding: 0.5em 1em;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 3px;
  margin-left: 0.5em;
  font-family: "Source Serif Pro", serif;
  cursor: pointer;
}
.model-header {
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
.model-header h2 {
  margin: 1em;
}
.model-content {
  padding: 1em;
}
.model-header span {
  align-self: flex-end;
  padding-right: 0.3em;
  cursor: default;
}
.model-footer {
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: flex-end;
}
.model-confirm-btn {
  background-color: tomato;
  font-family: "Source Serif Pro", serif;
border: none;
cursor: pointer;
}