* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: "Source Serif Pro", serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    background-color: #ecf0f3;
  }
  .sign-in-div {
    width: 700px;
    height: 700px;
    padding: 60px 35px 35px 35px;
    border-radius: 40px;
    background-color: #ecf0f3;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
  }
  .input-fields-1 {
    width: 100%;
    padding: 35px 5px 5px 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .input-fields-1 input {
    border: none;
    outline: none;
    background: none;
    font-family: "Source Serif Pro", serif;
    font-size: 18px;
    color: #555;
    margin-left: 20px;
    padding: 20px 35px 20px 5px;
  }
  .first-name,
  .last-name {
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
  }
  .input-fields-2 {
    width: 100%;
    padding: 15px 10px 10px 10px;
  }
  .input-fields-2 input {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #555;
    margin-left: 20px;
    padding: 20px 35px 20px 5px;
    font-family: "Source Serif Pro", serif;
  }
  .email,
  .username,
  .password {
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
  }
  .signin-btn {
    outline: none;
    border: none;
    cursor: pointer;
    width: 50%;
    height: 60px;
    font-family: "Source Serif Pro", serif;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    background-color: #02c8db;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #fff;
    transition: all 0.5s;
  }
  .signin-btn:hover {
    background-color: #50e5b9;
  }
  .signin-btn:active {
    background-color: #88ef9e;
  }
  .title {
    text-align: center;
    font-size: 28px;
    padding-top: 24px;
    letter-spacing: 0.5px;
  }
  .link {
    padding-top: 30px;
    text-align: center;
    font-size: 18px;
  }
  .link a {
    text-decoration: none;
    color: #aaa;
    font-size: 18px;
  }
  